.contact {
  height: 75vh;
  align-content: center;
  justify-content: center;
}
.header{
  font-weight: 900;
  color: #000;
  text-shadow: 1px 0 0 #71c8e8, -1px 0 0 #71c8e8, 0 1px 0 #71c8e8, 0 -1px 0 #71c8e8, 0.5px 0.5px #71c8e8, -0.5px -0.5px 0 #71c8e8, 0.5px -0.5px 0 #71c8e8, -0.5px 0.5px 0 #71c8e8;
}
.text-style {
  padding: .25em;
  border-color: #fefdca;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  box-shadow: inset 0px 0px 3px 0px #fefdca;
  background-color: rgba( 0, 0, 0, 0.1);
}
.text-responsive {
  font-size: calc(1.24em + 1vw);
}
.map {
  width: 17vw;
  height: 35vh;
  border-radius: 0.55em;
  border-color: #71c8e8;
  border: 1em;
  box-shadow: 0px 0px 2px 2px #71c8e8;
}
.input-area {
  background-image: radial-gradient(circle at 120.71% 50%, #e3e8b4 0, #dbeab6 4.55%, #d4ebba 9.09%, #ccedbf 13.64%, #c4eec4 18.18%, #bdf0ca 22.73%, #b6f0d0 27.27%, #aff1d7 31.82%, #a9f2dd 36.36%, #a4f2e4 40.91%, #a0f2eb 45.45%, #9df2f2 50%, #9bf2f8 54.55%, #9bf1ff 59.09%, #9df0ff 63.64%, #a0efff 68.18%, #a5eeff 72.73%, #abecff 77.27%, #b2eaff 81.82%, #bae8ff 86.36%, #c3e6ff 90.91%, #cce4ff 95.45%, #d5e2ff 100%);

  border-radius: 0.55em;
  box-shadow: 0px 0px 10px 0px #000;
}
.form-label {
  font-weight: 900;
  padding: 0.33em;
}

.btn {
  background-color: #71c8e89c;
  border-radius: 0.30em;
  font-weight: 900;
  color: #000;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
}
