<div class="contact">
  <div class="container-fluid">
    <header class="row mt-5 pt-2">
      <div class=" col-sm-6">
        <h1 class="text-center header">Contacto</h1>
      </div>
    </header>
  </div>
  <div class="container-sm">
    <div class="input-area">
      <form class="my-1 mx-1 form-group">
        <div class="form-row">
          <div class="px-5 col-sm-6 col-md-6 col-lg-8">
            <div class="form-row">
              <label class="form-label" for="name">Nombre</label>
              <input type="text" class="text-style form-control" placeholder="Primer nombre" id="name">
              <label class="form-label" for="lastname">Apellido</label>
              <input type="text" class="text-style form-control" placeholder="Apellido" id="lastname">
              <label class="form-label" for="email">Correo electrónico</label>
              <input type="text" class="text-style form-control" placeholder="E-mail" id="email">
            </div>
            <div class="form-row">
              <label class="form-label" id="msn">Mensaje</label>
              <textarea name="Mensaje" type="text" class="text-style form-control" placeholder="Mensaje" id="msn"
                cols="30" rows="5"></textarea>
              <button class="my-2 btn" type="submit" id="contact">ENVIAR</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <h2 class="text-responsive">Dirección</h2>
            <p class="font-weight-bold"> Calle falsa 123, 68h St. Caracas. Venezuela</p>
            <iframe class="map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.3817385306743!2d-69.35233688473254!3d10.067773974624842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8766ee34b66ac1%3A0xdeee3299ecf6ded7!2sInstituto%20Universitario%20Jesus%20Obrero%20(IUJO)!5e0!3m2!1ses!2sve!4v1619659712794!5m2!1ses!2sve"
              allowfullscreen="true" loading="lazy"></iframe>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
