<div *ngIf="product" class="container-sm">
  <div class="row my-4">
    <div class="col-sm-5 bg-mantel">
      <img src="{{ product.url }}" class="img-fluid" />
    </div>

    <div class="mx-4 mt-4 col-sm-6">
      <div class="text-right header_product">
        <h1 class="p-0 m-0 display-4">{{ product.name }}</h1>
        <h6 class="p-0 m-0 text-light">| Empaque individual |</h6>

        <div class="p-0 m-0 mb-3 mt-1" *ngIf="categories">
          <p class="p-0 m-0 font-weight-light">Categoria:</p>
          <p class="p-0 m-0 font-weight-bold">
            {{ defCategory(product.category) }}
          </p>
        </div>

        <div class="m-0 p-0 text-right">
        <h2 class="my-4">
          $<strong id="price">{{ product.price.toString() }}</strong>
        </h2>
          <label class="form-label" for="count">Stock:</label>
          <p class="ml-2 d-inline">{{ product.lot }}</p>
        </div>
      </div>

      <div class="mt-5 text-right">
        <button class="btn btn-primary" (click)="showhideUtility()">
          Editar
        </button>
        <button class="mx-2 btn btn-success" (click)="delProduct(product.id)">
          Eliminar
        </button>
        <button class="btn btn-warning" (click)='goBack()'>
          Regresar
        </button>
      </div>
    </div>
    <div class="d-block my-5">
      <h3>Descripción</h3>
      <p id="description">
        {{ product.description }}
      </p>
    </div>
  </div>
</div>
<div class="d-block my-5">
  <app-productForm
    *ngIf="visible"
    [productDetailed]="product"
  ></app-productForm>
</div>
