{% extends 'index.html' %} {% block titulo %}Crear Producto{% endblock titulo %}
{% block cuerpo %}
<h1>Añadir Producto</h1>
<form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<a href="{% url 'inicio' %}">return</a>
{% endblock cuerpo %}