{% block cabecera %} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}Inicio{% endblock titulo %}</title>
  </head>
  {% endblock %}
  <body>
    {% block cuerpo %} {% if object_list %}
    <table border="1">
      <caption>
        Productos
      </caption>
      <thead>
        <tr>
          <th>nombre</th>
          <th>precio</th>
          <th>cantidad</th>
          <th>categoría</th>
          <th>ingresado</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in object_list %}
        <tr>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.cantidad}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.created_at}}</td>
          <td>
            <a href="{% url 'ActualizarProducto' producto.id %}">Actualizar</a>
            <a href="{% url 'EliminarProducto' producto.id %}">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay productos registrados</p>
    {% endif %}

    <a href="{% url 'CrearProducto' %}">Añadir un producto</a>
    {% endblock cuerpo %}
  </body>
</html>
