{% extends 'index.html' %}
{% block titulo %}Confirmación {% endblock titulo %}
{% block cuerpo %}
<form method="post">
    {% csrf_token %}
    <strong>¿Seguro deseas eliminar: {{ object }} ?</strong>
    <button type="submit">Confirmación</button>
    <a href="{% url 'inicio' %}">Cancelar</a>
</form>
{% endblock cuerpo %}