ngb-carousel {
  overflow: auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

.wrapper {
  text-align: left;
  align-content: center;
}
.carousel-title {
  color: #71C9E8;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.carousel-desc {
  color: #000;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.btn-carousel {
  background-color: rgba(118, 118, 118, 0.33);
  border-radius: 0.25rem;
  color: #fff;
}

.btn-carousel:hover {
  border-color:rgb(38, 38, 38);
  color:rgb(187, 187, 187);
}

.btn-secondary {
  margin-left: 1em;
  background: #71c8e8c6;
  border-color: #fff;
}

.text-responsive {
  font-size: calc(1em + 6vw);
}
