  <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="10000" [keyboard]="true"
  [pauseOnHover]="true" [wrap]="true">
  <ng-template ngbSlide>
    <div>
      <img src="assets/Slide_01.png" alt="Carousel Slide 1" routerLink='/shop'>
    </div>
    <div class="mb-md-5 carousel-caption">
      <div class="wrapper">
        <!--Slide Para Pantallas medianas o superiores-->
        <h1 class="d-none d-md-block carousel-title font-weight-bold display-4">Dulces Venezolanos</h1>
        <p class="d-none d-md-block carousel-desc"> Dulces chiollos puro sabor venezolano.</p>
        <!--Slide Para Pantallas pequeñas e inferiores-->
        <h4 class="d-md-none carousel-title font-weight-bold">Dulces Venezolanos</h4>
        <p class="d-md-none carousel-desc small"> Dulces chiollos puro<br>sabor venezolano.</p>
        <button class="d-none d-sm-inline btn btn-carousel" routerLink='/shop'>Ver más</button>
        <button class="d-none d-sm-inline btn btn-secondary" routerLink='/dulces'>Comprar!</button>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="assets/Slide_02.png" alt="Carousel Slide 2" routerLink='/shop'>
    </div>
    <div class="mb-md-5 pb-md-5 carousel-caption">
      <div class="wrapper">
        <h1 class="d-none d-md-block carousel-title text-left font-weight-bold display-4">Dagashis</h1>
        <p class="d-none d-md-block carousel-desc text-left">Dulces japoneses<br>sabor icónico de la Asia Oriental</p>
        <h4 class="d-md-none carousel-title text-left font-weight-bold">Dagashis</h4>
        <p class="d-md-none small carousel-desc text-left">Dulces japoneses<br>sabor icónico de<br>la Asia Oriental</p>
        <button class="d-none d-sm-inline btn btn-carousel" routerLink='/shop'>Ver más</button>
        <button class="d-none d-sm-inline btn btn-secondary" routerLink='/dulces'>Comprar!</button>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="assets/Slide_03.png" alt="Carousel Slide 3" routerLink='/shop'>
    </div>
    <div class="mb-md-5 pb-md-5 carousel-caption">
      <div class="wrapper">
        <h1 class="d-none d-md-block carousel-title text-left font-weight-bold display-4">Dulces Americanos</h1>
        <p class="d-none d-md-block carousel-desc text-left">Candies americanos, sabor clásico.</p>
        <h4 class="d-md-none carousel-title text-left font-weight-bold">Dulces Americanos</h4>
        <p class="d-md-none small carousel-desc text-left">Candies americanos<br> sabor clásico.</p>
        <button class="d-none d-sm-inline btn btn-carousel" routerLink='/shop'>Ver más</button>
        <button class="d-none d-sm-inline btn btn-secondary" routerLink='/dulces'>Comprar!</button>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <img src="assets/Slide_04.png" alt="Carousel Slide 4" routerLink='/shop'>
    </div>
    <div class="mb-md-5 pb-md-5 carousel-caption">
      <div class="wrapper">
        <h1 class="d-none d-md-block carousel-title text-left font-weight-bold display-4">Dulce<br>Dulcería</h1>
        <p class="d-none d-md-block carousel-desc text-left"> ¿Estilo japonés? ¿Estilo Americano? <br>¿Por qué no ambos?</p>
        <h4 class="d-md-none carousel-title text-left font-weight-bold">Dulce Dulcería</h4>
        <p class="d-md-none small carousel-desc text-left"> ¿Estilo japonés?<br>¿Estilo Americano?<br>¿Por qué no ambos?</p>
        <button class="d-none d-sm-inline btn btn-carousel" routerLink='/shop'>Ver más</button>
        <button class="d-none d-sm-inline btn btn-secondary" routerLink='/dulces'>Comprar!</button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
