<div class="container-sm">
  <div class="row my-4">
    <div class="col-sm-5 bg-mantel">
      <img src="{{ product.url }}" class="img-fluid" />
    </div>

    <div class="mx-4 mt-4 col-sm-6">
      <div class="text-right header_product">
        <h1 class="p-0 m-0 display-4">{{ product.name }}</h1>
        <h6 class="p-0 m-0 text-light">| {{empaque}} |</h6>
        <p class="p-0 m-0 mb-5 mt-1">
          categoria:
          <strong id="category">{{ defCategory(product.category) }}</strong>
        </p>
        <h2 class="m-4">
          $<strong id="price">{{ product.price }}</strong>
        </h2>
      </div>
      <form class="form-group mt-3">
        <div class="text-right">
          <label class="form-label" for="count">cantidad:</label
            ><input
            class="ml-2 d-inline form-control"
            type="number"
            name="cantidad"
            id="count"
            value="1"
            min="1"
            max="{{ product.lot }}"
            />
          </div>
          <div class="mt-5 text-right">
            <button class="btn btn-primary" (click)='goCart(product.id)'>Añadir al carrito</button>
            <fa-icon class='p-2' [icon]="faundo" (click)='goBack()'></fa-icon>
          </div>
        </form>
      </div>

      <div class="d-block my-5">
        <h3>Descripción</h3>
        <p id="description">
          {{product.description}}
        </p>
      </div>
    </div>
  </div>
