.bg-mantel {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
}

.form-control {
  width: 4em;
  height: 2em;
  text-align:right;;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.invisible {
    display:none !important;
}

.text-light {
  color: rgb(184, 184, 184)  !important;
  font-style: italic;
  font-weight: bold;
}
