<main>
  <h1 class="pb-3"><strong>Administracion de Productos</strong></h1>
  <div class="layout_padding">
    <div class="container-md">
      <button class ="btn btn-warning" [routerLink]="['/crearProducto']">Crear Producto</button>
      <div *ngIf='products' class="row">
        <div *ngFor='let product of products' class="col-sm-3">
          <div class="bg-mantel mx-1 my-4" (click)="getId(product.id)">
            <h4 class="product_name border-0 mt-1 bold">{{ product.name }}</h4>
            <img class="img-fluid" src="{{ product.url }}" />
            <p class="product_price">$<strong>{{ product.price.toString() }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
