<nav class="navbar navbar-expand-lg navbar-light bg fixed-top">
  <a class="navbar-brand" routerLink="/">KnDagashi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="activo" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="activo">
        <a class="nav-link" routerLink="/dulces">Dulces</a>
      </li>
      <li class="nav-item" routerLinkActive="activo">
        <a class="nav-link" routerLink="/shop">Tienda</a>
      </li>
      <li class="nav-item" routerLinkActive="activo">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class=" form-control mr-sm-2" type="search" placeholder="Dagashis" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <ul class="navbar-nav">

      <a class="nav-link" routerLink="/admin"><fa-icon [icon]="fatrash" size="lg"></fa-icon>dmin</a>
  </ul>
  </div>
</nav>
