.bg {
  background-color: #fefdca;
}
.nav-item {
  font-weight: 500;
}
.activo {
  background-color: #71c8e89c;
  border-radius: 0.30em;
  font-weight: 900;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
}
.navbar-nav .nav-link {
  padding-right: .55em;
  padding-left: .55em;
}

.btn-outline-success {
  font-weight: 500;
  border-radius: 0.55em;
  border-color: #71c8e8 ;
  color: rgba(0, 0, 0, 0.5);
}

.btn-outline-success:hover {
  background-color: #71c8e89c ;
  color: rgba(0, 0, 0, 0.9);
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #7bdafc35;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #7bd9fc;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #7bd9fc;
  background-color: #71c8e8;
  border-color: #71c8e8;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #7bdafc35;
}
