.col-sm-3 {
  grid-auto-flow: dense !important;
}
.layout_padding {
  padding-top: 2.25em;
  padding-bottom: 3em;
}
.product_name {
  /*Nombre de producto*/
  position: relative;
  margin: 0;
  text-align: center;
  color: #0c0116;
  border-bottom: 0.01em solid#000;
}
.product_price {
  /*Precio de producto*/
  width: 100%;
  float: left;
  text-align: center;
  color: #000;
  font-size: 1.85em;
}
.rounded {
  border-radius: 0.5em;
}
.bg-mantel {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
}
.bold {
  font-weight: 900;
}
