<div *ngFor="let category of categories" class="layout_padding">
  <div class="container-md">
    <h1 class="pb-3">
      <strong>{{ category.name }}</strong
      ><br /><small>{{category.description}}</small>
    </h1>
    <div *ngIf="products" class="row">
      <ng-container *ngFor="let product of products">
          <div *ngIf="product.category == category.id" class="col-sm-3" >
            <div *ngIf="product.category == category.id" class="bg-mantel" (click)="getId(product.id)">
              <h4 class="product_name border-0 mt-1 bold">{{ product.name }}</h4>
              <p class="product_price">
                $<strong>{{ product.price }}</strong>
              </p>
              <img class="img-fluid" src="{{ product.url }}" />
            </div>
          </div>
      </ng-container>
      </div>
</div>
