.layout_padding {
  padding-top: 2.25em;
  padding-bottom: 3em;
}
.product_name {
  /*Nombre de producto*/
  position: relative;
  margin: 0;
  text-align: center;
  color: #0c0116;
  border-bottom: 0.01em solid#000;
}
.product_price {
  /*Precio de producto*/
  width: 100%;
  float: left;
  text-align: center;
  color: #000;
  font-size: 1.85em;
}
.rounded {
  border-radius: 0.5em;
}
.bg-mantel {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
  overflow: auto;
}
.bold {
  font-weight: 900;
}

.form-control-plaintext{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
