<div class="container-sm">
  <div class="bg-mantel p-4">
    <form [formGroup]="productForm">
      <div class="form-group">
        <label class="label">Nombre del Producto</label>
        <input type="text" class="form-control" formControlName="name" />

        <label class="label">Precio</label>
        <input type="text" class="form-control" formControlName="price" />
      </div>

      <div class="container">
        <div class="col-sm-5">
          <img class="img-fluid" [src]="url" />
        </div>
        <input
          type="file"
          class="form-control-file"
          formControlName="url"
          (change)="onFileSelected($event)"
        />
      </div>

      <label class="label">Descripción</label>
      <textarea
        type="text"
        class="form-control-plaintext"
        formControlName="description"
      ></textarea>

      <label class="label">Cantidad del Producto</label>
      <input type="text" class="form-control" formControlName="lot" />

      <label class="label">Categoría</label>
      <select class="custom-select" formControlName="category">
        <option value="" disabled>Selecciona una Categoría</option>
        <option
          id="{{ category.id }}"
          *ngFor="let category of categories"
          [ngValue]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </form>

    <div class="text-right">
      <button
        class="btn btn-primary mt-3 m-1 mx-2"
        type="submit"
        (click)="fn()"
      >
        {{button}} producto
      </button>
      <button class="btn btn-warning mt-3 m-1 mx-2" (click)="goBack()">
        Regresar
      </button>
    </div>
  </div>
</div>
