/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Open+Sans&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: 'Roboto' !important;
}
body {
  background-image: radial-gradient(circle at 22.77% 17.55%, #ffffff 0, #fbffff 16.67%, #dcffff 33.33%, #b5f2f2 50%, #8ddadf 66.67%, #6bc7d1 83.33%, #4eb9c9 100%);
}
