.layout_padding {
  padding-top: 2.25em;
  padding-bottom: 3em;
}

.l_about-sm, .l_about-md {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
  overflow: auto;
}

.l_about-md { /*Div de la izquierda*/
  z-index: 1;
  margin-left: 4em;
  margin-bottom: 2em;
}

.r_about-sm, .r_about-md {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
  overflow: auto;
}
.r_about-md { /*Div de la derecha*/
  margin-top: 4em;
  margin-left: -4em;
  border-radius: 0.5em;
}

.r_about-md:hover, .r_about-md:active {
 z-index: 20;
}

.new_product { /*Div unión entre Imagen, nombre de producto y precio*/
height: auto;
}
.product_name { /*Nombre de producto*/
  position: relative;
  margin: 0;
  text-align: center;
  color: #0c0116;
  border-bottom: .01em solid#000;
}
.product_price { /*Precio de producto*/
  width: 100%;
  float: left;
  text-align: center;
  color: #000;
  font-size: 1.85em;
}

.btn-secondary {
  background: #71c8e8c6;
  border-radius: 0.125em;
  border: 0;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.buy .btn-secondary {
 border: 0;
 box-shadow: 0px 0px 10px 0px #000 !important;
 border-radius: 0.25em;
}
.rounded {
  border-radius: 0.5em;
}
.bg-trasparent {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-yellow {
  background-color: #fefdca74;
}
.bg-mantel {
  background-image: url("/assets/fondo_mantel.png");
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 0px;
  position: relative;
}
.bold {
  font-weight: 900;
}

.text-responsive {
  font-size: calc(1em + 2vw);
}

