<app-carousel></app-carousel>
<main>
  <div class="d-none d-md-block pt-5 layout_padding">
    <div class="container-md">
      <h1 class="pb-3">
        <strong>Dulces Nuevos</strong><br /><small
          >Los dulces más nuevos en nuestra tienda los podés encontrar
          aquí.</small
        >
      </h1>
      <div class="row">
        <div class="col-md-6">
          <div
            class="d-none d-md-block l_about-md container-fluid" (click)='getId(products[0].id)'
          >
            <!--Colocar el routing a este div del producto-->
            <div class="new_product align-items-center text-center">
              <img class="img-fluid" src="{{products[0].url}}" />
              <h5 class="product_name my-2">{{products[0].name}}</h5>
              <p class="product_price">$<strong>{{products[0].price}}</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="d-none d-md-block r_about-md container-fluid" (click)='getId(products[6].id)'>
            <!--Colocar el routing a este div del producto-->
            <div class="new_product align-items-center text-center">
              <img class="img-fluid" src="{{products[6].url}}" />
              <h5 class="product_name my-2">{{products[6].name}}</h5>
              <p class="product_price">$<strong>{{products[6].price}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--sm screen-->
  <div class="d-md-none d-sm-block pt-5 layout_padding">
    <div class="container">
      <h1 class="pb-3">
        <strong>Dulces nuevos</strong><br />
        <small>
          Los dulces más nuevos en nuestra tienda los podrás encontrar aquí.
        </small>
      </h1>
      <div class="collection_section_2">
        <div class="row">

              <div class="justify-content-sm-center l_about-sm mb-4" (click)='getId(products[0].id)'>
                <!--He de colocar un routing al producto-->
                <div class="new_product align-items-center text-center">
                  <img class="img-fluid" src="{{products[0].url}}" />
                  <h6 class="product_name my-2">{{products[0].name}}</h6>
                  <p class="product_price">$<strong>{{products[0].price}}</strong></p>
                </div>
              </div>
            </div>
        <div class="row">
          <div class="justify-content-sm-center r_about-sm mt-4" (click)='getId(products[6].id)'>
            <!--He de colocar un routing al producto-->
            <div class="new_product align-items-center text-center">
              <img class="img-fluid" src="{{products[6].url}}" />
              <h6 class="product_name my-2">{{products[6].name}}</h6>
              <p class="product_price">$<strong>{{products[6].price}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Mid body-->
  <div class="py-5 layout_padding">
    <div class="container">
      <h1 class="pb-3">
        <strong>Estrella del momento</strong><br /><small
          >Prueba el combo más popular.</small
        >
      </h1>
      <div class="row bg-mantel rounded" (click)='getId(products[10].id)'>
        <div class="col-sm-8">
          <div class="justify-content-center">
            <img class="img-fluid" src="{{products[10].url}}" />
          </div>
        </div>
        <div class="col-sm-4 align-content-center">
          <div class="bg-yellow align-content-center">
            <div class="text-center justify-content-center">
              <h1 class="text-responsive">
                <b>Venezuela<br />y<br />sus playas<br /></b
                ><small> por solo $<strong>{{products[10].price}}</strong> </small>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--New Products-->
  <div class="layout_padding">
    <div class="container-md">
      <h1 class="pb-3">
        <strong>Monchis</strong><br /><small>los dulces más vendidos.</small>
      </h1>
      <div class="row" *ngIf='products'>
        <ng-container *ngFor='let product of products | slice:0:6'>
          <div class="col-sm-4">
            <div class="bg-mantel mx-1 my-4" (click)='getId(product.id)'>
              <h4 class="product_name border-0 mt-1 bold">{{product.name}}</h4>
              <p class="product_price">$<strong>{{product.price}}</strong></p>
              <img class="img-fluid" src="{{product.url}}" />
            </div>
          </div>
        </ng-container>
      </div>
      <div class="buy text-center justify-content-center">
        <button
          class="
            text-uppercase text-center
            bg-mantel
            my-5
            text-responsive
            btn-secondary
          " routerLink='/shop'
        >
          <b>COMPRAR</b>
        </button>
      </div>
    </div>
  </div>
</main>
