<div class="section_footer bg pt-5">
  <div class="container">
    <div class="mail_section d-none d-md-block">
      <div class="row">
        <div class="col-sm-1 col-lg-3">
          <div><a href="#"><img src="../../assets/logo.png"></a></div>
        </div>
        <div class="col-sm-11 col-lg-9">
          <div class="justify-content-center d-none d-lg-block">
            <ul class="list-group border border-0 bg-none list-group-horizontal">
              <li class="list-group-item d-inline bg-none"><img class="img-fluid" src="../../assets/phone-icon.png"><span
                  class="map_text small">(+58)-412.57.1</span></li>
              <li class="list-group-item bg-none">
                <img class="img-fluid" src="../../assets/email-icon.png"><span
                  class="map_text small">Info@dagashinkuro.com</span>
              </li>
              <li class="list-group-item bg-none"><a href="https://www.facebook.com" target="_blank"><img
                    src="../../assets/fb-icon.png"></a></li>
              <li class="list-group-item bg-none"><a href="https://www.twitter.com" target="_blank"><img
                    src="../../assets/twitter-icon.png"></a></li>
              <li class="list-group-item bg-none"><a href="https://www.linkedin.com" target="_blank"><img
                    src="../../assets/in-icon.png"></a></li>
              <li class="list-group-item bg-none"><a href="https://www.google.co.ve" target="_blank"><img
                    src="../../assets/google-icon.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_section_2 pt-3">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-3">
            <h2 class="shop_text">Dirección </h2>
            <div class="image-icon"><img src="../../assets/map-icon.png"><span class="pet_text">1070, Francisco de
                Miranda AV, Madrid ST, California Norte, Venezuela.</span></div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3">
            <h2 class="shop_text">Nosotros</h2>
            <div class="delivery_text">
              <ul class="list-unstyled">
                <li><a class="list-group-item-action" href="#">Envios</a></li>
                <li><a class="list-group-item-action" href="#">Seguridad de pago</a></li>
                <li><a class="list-group-item-action" href="#">sitemap</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <h2 class="shop_text">Dulces</h2>
            <div class="delivery_text">
              <ul class="list-unstyled">
                <li><a class="list-group-item-action" href="#">Americanos</a></li>
                <li><a class="list-group-item-action" href="#">Japoneses</a></li>
                <li><a class="list-group-item-action" href="#">Venezolanos</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <h2 class="shop_text">Newsletter</h2>
            <div class="form-group">
              <input type="text" class="enter_email" placeholder="Ingresa tu email" name="Name">
            </div>
            <button class="btn btn-secondary">Suscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">2021 All Rights Reserved. <a href="https://guayabytes.com">Guayabytes</a></div>
