.bg {
  background-color: #4cbaca;
}


/* FOOTER */

.section_footer {
  width: 100%;
}
.mail_section {
  width: 100%;
}

.mail_section li {
  padding-left: 2em;
}

.dummy_text {
 color: white;
}

.pet_text {
  font-size: 12pt;
  color: white;
  display: flex;
  top: -1.55em;
  position: relative;
  padding-left: 1.25em;
}

.map_text {
  padding-left: 15px;
  color: white;
}

.delivery_text {
  width: 100%;
  font-size: 17px;
  color: white;
}

.enter_email {
  border: 0;
  font-weight: 300;
  outline: none;
  width: 10em;
}

/* COPYRIGHT */
.copyright {
  width: 100%;
  float: center;
  font-size: 12pt;
  color: white;
  text-align: center;
  padding: 10px 0px;
  background-color: #e04b7b;
  font-family: Poppins;
}

.copyright a {
  color: white;
}
.copyright a:hover {
  color: white;
}


.bg-none {
  background: none;
  border: none;

}

.list-group-item-action:hover, .list-group-item-action:focus {
background-color: rgba(0, 0, 0, 0);
}
.list-group-item-action:active {
  background-color: rgba(0, 0, 0, 0);
}
