<div class="px-4 px-lg-0">
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Producto</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Precio</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Cantidad</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remover</div>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf='products'>
                <tr *ngFor='let product of products'>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{{product.url}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{product.name}}</a></h5>
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>${{product.price}}</strong></td>
                  <td class="border-0 align-middle"><strong>2</strong></td>
                  <td class="border-0 align-middle"><a href="#" class="text-dark">
                      <fa-icon [icon]="fatrash"></fa-icon>
                    </a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>
      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Código de cupón</div>
          <div class="p-4">
            <p class="font-italic mb-4">Si tienes un cupón, ingresa el código:</p>
            <div class="input-group mb-4 border rounded-pill p-2">
              <input type="text" placeholder="Cupón" aria-describedby="button-addon3" class="form-control border-0">
              <div class="input-group-append border-0">
                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i
                    class="fa fa-gift mr-2"></i>Aplicar Cupon</button>
              </div>
            </div>
          </div>
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instrucciones para el
            vendedor
          </div>
          <div class="p-4">
            <p class="font-italic mb-4">Si tienes alguna información adicional que deba saber el vendedor:
            </p>
            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Orden de Pedido </div>
          <div class="p-4">
            <p class="font-italic mb-4">El costo de envío es calculado en base a la dirección ingresada.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Sub
                  Total </strong><strong>$70,96</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong
                  class="text-muted">Envío</strong><strong>$14.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong
                  class="text-muted">IVA</strong><strong>$0.00</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">$84,96</h5>
              </li>
            </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Proceder al Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
