<div class="layout_padding">
  <div class="container-md">
    <h1 class="pt-3"><strong>Combos de Dulces</strong></h1>
    <div *ngIf="combo" class="row">
      <div *ngFor="let product of combo" class="col-sm-3">
        <div class="bg-mantel mx-1 my-4" (click)="getId(product.id)">
          <h4 class="product_name border-0 mt-1 bold">{{ product.name }}</h4>
          <img class="img-fluid" src="{{ product.url }}" />
          <p class="product_price">
            $<strong>{{ product.price }}</strong>
          </p>
        </div>
      </div>
    </div>


    <h1 class="pt-4 pb-0 mb-0"><strong>Dulces</strong></h1>
    <h4 class="pt-0 mt-0">Empaque Individual</h4>
    <div *ngIf="products" class="row">
      <div *ngFor="let product of products" class="col-sm-3">
        <div class="bg-mantel mx-1 my-4 " (click)="getId(product.id)">
          <h4 class="product_name border-0 mt-1 bold">{{ product.name }}</h4>
          <img class="img-fluid" src="{{ product.url }}" />
          <p class="product_price">
            $<strong>{{ product.price }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
